#results {
	display: none;
	flex-direction: column;
	justify-content: center;
	margin: var(--section-margin-mobile) 0;
	position: relative;

	&.show {
		display: flex;
	}

	.shrink + & {
		min-height: calc(100vh - (var(--search-height-mobile) + (var(--section-margin-mobile) * 3)));
	}

	@media (--breakpoint) {
		margin: var(--section-margin-desktop) 0;

		.shrink + & {
			min-height: calc(100vh - (var(--search-height-desktop) + (var(--section-margin-desktop) * 3)));
		}
	}
}

#results-message {
	line-height: 1.4;
	text-align: center;
}

#results-list {
	display: flex;
	flex-wrap: wrap;
	font-size: 0;
	justify-content: center;
	list-style: none;
	margin: 0 calc(var(--body-padding) * -1);
	padding: 0;
}

.result-item {
	font-size: 14px;
	max-width: 200px;
	padding: var(--body-padding);
	text-align: center;
	width: 100%;

	@media (--breakpoint) {
		font-size: 16px;
	}
}

.result-image {
	align-items: center;
	display: flex;
	height: 168px;
	justify-content: center;
	margin-bottom: 8px;
	width: 168px;
}

.result-img {
	border-radius: 1000px;
	height: 100%;
	object-fit: cover;
}

.dead {
	filter: grayscale(100%);
}
