#spinner {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;

	&::before {
		animation: spin 1s infinite linear;
		border-color: $white $white $white transparent;
		border-radius: 1000px;
		border-style: solid;
		border-width: 3px;
		content: '';
		display: block;
		height: 20px;
		margin-right: 8px;
		width: 20px;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
